.btn-apply {
  background-color: #004a7c;
  border-radius: 4px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 15px;
  margin-top: 15px;
}
.btn-apply:hover {
  background-color: #004a7c;
  color: #fff;
}
.card {
  width: 40rem;
  height: 34.5rem;
}
.img {
  height: 20rem;
  width: 39.9rem;
}
@media (max-width: 768px) {
  .card {
    max-width: 100%;
    width: 100%;
    height: 38.5rem;
  }
  .btn-apply {
    margin-top: 0px;
  }
  .img {
    width: 100%;
  }
}
